#img-viewer {
    /*width: 800px;*/
    /*height: 600px;*/
    margin-left: 50px;
}

#annotation-add-div {
    position: absolute;
    box-shadow: 0px 3px 8px #aaa;
}

#annotations{
    position: absolute;
    top: 50px;
    left: 900px;
    height: 400px;
    width:  340px;
    overflow:auto;
}
