{% extends 'site_base.html' %}
{% load static %}

{%  block script %}
<script src="{%  static 'js/annotate.js' %}"></script>
{%  endblock %}


    <style type="text/css">
        textarea { vertical-align: middle; }
        button { font-size: 60%; }
    </style>

{% block content %}
    <canvas id="img-viewer" data-img-src="{{ imgurl }}" data-img-pk="{{ imgpk }}"></canvas>

    <div class="panel text-center hide" id="annotation-add-div">
        <div class="small-9 columns">
            <input type="text" placeholder="Annotation name.." id="annotation-add-input"/>
        </div>
        <div class="small-3 columns">
            <button class="small" id="annotation-add-btn">Set</button>
        </div>
    </div>

    <fieldset id="annotations" >
        <legend>Annotations</legend>
        <table id="ftable"></table>
    </fieldset>

{% endblock %}
