{% extends 'site_base.html' %}
{% load static %}

{%  block script %}
<script src="{%  static 'js/annotate.js' %}"></script>
{%  endblock %}

{% block content %}

    <div class="panel text-center hide" id="annotation-add-div">
        <div class="small-9 columns">
            <input type="text" placeholder="Annotation name.." id="annotation-add-input"/>
        </div>
        <div class="small-3 columns">
            <button class="small" id="annotation-add-btn">Set</button>
        </div>
    </div>

    <div class="spinner" id="spinner"></div>

    <div class="row text-center" id="img-viewer-div">
        <canvas id="img-viewer" data-img-src="{{ imgurl }}" data-img-pk="{{ imgpk }}"></canvas>
    </div>

    <div class="row" id="comments">
        <div class="small-7 columns small-centered">
            <h3 class="text-center" id="current-annotation">No annotations yet.</h3>
            <select id="annotation-select">
                {% for ann in annotations %}
                    <option value="{{ ann.name }}">{{ ann.name }}</option>
                {% endfor %}
            </select>

            {%  for comment in comments %}
                <div class="comment panel">
                    <p>{{ comment.text }}</p>
                    <p class="text-right">by {{ comment.author }} on {{ comment.annotation.name }}</p>
                </div>
            {% endfor %}

            {% if annotations %}
                <div class="add-comment-div panel">
                    <form action="{% url 'add_comment' imgpk 0 %}" method="post" id="comment-form">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="submit" value="Add comment" />
                    </form>
                </div>
            {% else %}
                <h3>No annotations yet, cannot comment.</h3>
            {% endif %}

        </div>
    </div>

{% endblock %}
