{% extends 'site_base.html' %}
{% load static %}

{% block script %}
<script type="text/javascript" src="{% static 'js/draw.js' %}"></script>

    <style type="text/css">
        textarea { vertical-align: middle; }
        button { font-size: 60%; }
    </style>
{% endblock %}

{% block content %}

    <img id="img-viewer" src="{{ imgurl }}" onmousedown="mouseDown(event);"
                                            onmousemove="mouseDrag(event);"/>

    <fieldset id="annotations" >
        <legend>Annotations</legend>
        <table id="ftable"></table>
    </fieldset>

{% endblock %}
