{% extends 'site_base.html' %}

{% block content %}

    <div class="text-center small-8 columns small-centered">
        
        <div class="panel" id="upload-file">
            <h3>Upload from file:</h3>
            <a class="button" href="{% url 'upload' %}">Upload</a>
        </div>

        <div class="panel" id="upload-url">
            <h3>Upload from url:</h3>
            <a class="button" href="{% url 'upload_url' %}">Upload</a>
        </div>

        <form id="search-images" action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Search" />
        </form>

        <div class="panel" id="images-container">
            {% for img in imgs %}
                <a href="{% url 'image' img.pk %}">{{ img.title }}</a>
                <br />
            {% endfor %}
        </div>
    </div>

{% endblock %}

