{% load static %}



<!DOCTYPE html>
<html data-csrf="{{ csrf_token }}">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Phannotator{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>
<body>

<a href="/"><h1 class="title text-center">Phannotator</h1></a>

<div class="content row">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
{%  block script %}
{%  endblock %}
</body>
</html>

